<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=
    , initial-scale=1.0"
    />
    <title>Document</title>
  </head>
  <body>
    <p>
      Highly motivated and results-driven professional with a strong background
      in developement, documentation, testing, and data-driven decision-making.
      Adept at creating KPI dashboards using Power BI and extracting data from
      Snowflake to enhance organizational insights. Skilled in full-stack
      development with Django, Flask and proficient in automating ThoughtSpot
      DevOps. I am an energetic team player with a proven track record of
      contributing to successful projects, and I'm dedicated to leveraging data
      and technology to drive results. Seeking new challenges to apply and
      expand my skills in a dynamic environment.
    </p>
  </body>
</html>
