<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    {% load static %}
  </head>
  <body>
    <div class="container">
      <h1>M.S. Dhoni</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, et
        consequatur? Vero, doloremque? Totam commodi minima, quibusdam fugiat
        accusamus ratione eveniet quis porro ipsam inventore vel iste
        necessitatibus voluptatibus consectetur. Facilis corporis aut rem
        doloribus id porro laboriosam! Ipsa quae, architecto assumenda, ex
        reprehenderit voluptatibus quasi saepe aspernatur quo amet odit aut
        tenetur quaerat inventore voluptates, totam illum soluta veritatis.
      </p>
      <div class="row" style="height: 100%">
        <div class="col-sm-8">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
            nobis atque! Labore, corporis sit perferendis delectus nostrum
            ducimus esse excepturi rem nulla. Corrupti provident neque repellat,
            voluptate velit hic numquam. Provident voluptatum, est aperiam
            aspernatur veritatis ab. Natus accusantium sed veniam perferendis
            consequuntur iusto repellat, assumenda nobis commodi tempora porro
            reprehenderit harum eaque amet minus, aut ut ipsum, hic soluta!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta
            laudantium ipsum dolor officiis ab quidem, eum sequi quia. Quaerat
            nobis qui enim dicta repellat. Dignissimos possimus assumenda
            accusantium quaerat distinctio. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Asperiores dignissimos, est voluptas
            voluptatibus itaque dolores excepturi amet cum repellat quam id ab
            debitis officia iusto magni alias minus obcaecati. Fugiat!
          </p>
        </div>

        <div class="col-sm-4" style="height: 100%">
          <img
            style="height: 100%"
            class="img-fluid"
            src="{% static 'img/msd.jpeg' %}"
            alt=""
          />
        </div>
      </div>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est veniam
        inventore, mollitia maxime totam, voluptatibus, repellendus qui ducimus
        natus voluptate laborum impedit ab. Alias laborum eos non libero,
        aliquam veniam. Quia aut pariatur numquam? Dolore quae atque, optio
        provident deserunt voluptatum culpa, vero reprehenderit iusto laborum
        perspiciatis quidem molestiae, tempora et animi commodi aut beatae
        necessitatibus quis eius minus. Dolores!
      </p>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
